/* ================= RESET ================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ================= BODY ================= */
body {
    background-color: peachpuff;
}

/* ================= NAVBAR ================= */
/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #f4f5ea67;
}

/* LOGO */
.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo .highlight {
    color: #ff3f6c;
    margin-left: 5px;
}

/* NAV LINKS */
.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ff3f6c;
    border-bottom: 2px solid #ff3f6c;
    padding-bottom: 3px;
}

/* ================= DROPDOWN ================= */
.dropdown {
    position: relative;
}

.dropbtn {
    background: white;
    border: 1px solid #333;
    padding: 8px 14px;
    cursor: pointer;
    font-size: 14px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    border: 1px solid #cfe255;
    min-width: 140px;
    z-index: 10;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ================= PRODUCTS GRID ================= */
.products {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    padding: 0 20px;
}

/* ================= CARD ================= */
.card {
    background-color: white;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
    filter: contrast(1.1) brightness(1.05);
}
/* ================= IMAGE ================= */
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    image-rendering: auto;
    filter: contrast(1.05) brightness(1.02);
    transition: transform 0.4s ease, filter 0.4s ease;
    cursor: pointer;
}

/* ================= TEXT ================= */
.card h4 {
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
}

.card p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 12px;
}
