/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* PAGE BACKGROUND */
body {
    height: 100vh;
    background: linear-gradient(135deg, #fce4ec, #f5f5f5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD */
.login-container {
    background: white;
    width: 320px;
    padding: 30px 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* TITLE */
.login-container h2 {
    margin-bottom: 20px;
    color: black;
    font-size: 24px;
}

/* INPUT FIELDS */
.login-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login-container input:focus {
    outline: none;
    border-color: #1c080d;
}

/* LOGIN BUTTON */
.login-container button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #4b2eed;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.login-container button:hover {
    background: #313ef3;
}

/* OPTIONAL SMALL TEXT */
.login-container p {
    margin-top: 15px;
    font-size: 13px;
    color: gray;
}
